<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JADMC | DATABASE </title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <script src="plugins/vue/vue.min.js"></script>
</head>
  <body id="database-page">
    <div class="container" id="jadmc-app" :key="componentKey">
      <div class="row">
        <div class="twelve columns">
          <div class="top-head">
            <ul class="breadcrumb" >
              <li v-for="l in data.breadcrumbList" v-bind:class="l.class"><a v-bind:data-args="l.args" v-bind:a-onclick="l.init">{{l.name}}</a></li>
            </ul>
          </div>
          <div class="body-content">
            <div class="block-container active server">
              <div class="block-head">
                <button class="button button-primary" a-onclick="element-switchView" data-args="#server-database" >Database</button>
                <button class="button" a-onclick="element-switchView" data-args="#server-sql">SQL</button>
                <button class="button" a-onclick="server-importDatabase" >Import Database</button>
              </div>
              <div class="block-body">
                <div class="block-tab active" id="server-database">
                    <div>
                      <button class="button" a-onclick="server-createDb">Create Database</button>
                    </div>
                    <table class="full-width" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody  >
                            <tr v-for="c in data.databaseList" >
                                <td><a a-onclick="database-init" v-bind:data-args="c.Database">{{c.Database}}</a></td>
                                <td>
                                    <button class="button small" v-bind:data-args="c.Database" a-onclick="server-dropDb" a-tooltip="Drop Database" ><i class="icon icon-minus-circled"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block-tab" id="server-sql">
                  <div>
                    <div class="form">
                      <div class="form-group">
                        <textarea name="query" class="full-width" rows="20" a-onkeyup="element-autoresize" placeholder="Put your query here"></textarea>
                      </div>
                      <div class="form-group align-right">
                        <button class="button" a-onclick="server-sqlQuery">RUN</button>
                      </div>
                    </div>
                  </div>
                  
                    <div  >
                        <div class="full-width overflow-auto border-all padding-10 margin-top-10" v-for="t in data.serverQueryList" > 
                          <table class="full-width" >
                              <thead>
                                  <tr >
                                      <th v-for="(value, key) in t[0]" >{{ key }}</th>
                                  </tr>
                              </thead>
                              <tbody  >
                                  <tr v-for="o in t" >
                                      <td v-for="c in o">{{c}}</td>
                                  </tr>
                              </tbody>
                          </table>
                          <button class="button" a-onclick="vm-saveData" v-bind:data-args="'json|serverQueryList|' + data.serverQueryList.indexOf(t)" >Save As JSON</button>
                          <button class="button" a-onclick="vm-saveData" v-bind:data-args="'xlsx|serverQueryList|' + data.serverQueryList.indexOf(t)">Save As XLSX</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
            </div>
            <div class="block-container database">
                <div class="block-head">
                    <button class="button button-primary" a-onclick="element-switchView" data-args="#database-table" >Tables</button>
                    <button class="button" a-onclick="element-switchView" data-args="#database-sql">SQL</button>
                    <button class="button" a-onclick="element-switchView" data-args="#database-export">Export</button>
                    <button class="button" a-onclick="database-importTable" >Import Table</button>
                </div>
                <div class="block-body">
                    <div class="block-tab active" id="database-table">
                        <div>
                          <button class="button" a-onclick="database-createSchema">Create Table</button>
                        </div>
                        <table class="full-width" >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr v-for="c in data.tableList" >
                                    <td><a a-onclick="table-init" v-bind:data-args="c.table">{{c.table}}</a></td>
                                    <td>
                                        <button class="button small" v-bind:data-args="c.table" a-onclick="database-truncateTable" a-tooltip="Truncate Table" ><i class="icon icon-trash"></i></button>
                                        <button class="button small" v-bind:data-args="c.table" a-onclick="database-dropTable" a-tooltip="Drop Table"><i class="icon icon-minus-circled"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block-tab" id="database-table-create">
                      <div class="overflow-auto"   >
                        <table class="full-width">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Length/Value</th>
                                    <th>Allow Null</th>
                                    <th>Default</th>
                                    <th>Index</th>
                                    <th>Action</th>
                                  </tr>
                            </thead>
                            <tbody >
                              <tr v-for="c in data.newSchema" >
                                <td>{{c.name}}</td>
                                <td>{{c.type}}</td>
                                <td>{{c.length}}</td>
                                <td>
                                    <span v-if="c.null">YES</span>
                                    <span>NO</span>
                                </td>
                                <td>{{c.default}}</td>
                                <td>{{c.index}}</td>
                                <td>
                                  <button class="button" a-onclick="database-removeSchemaColumn" v-bind:data-args="c._schemaId" a-tooltip="Remove Column"><i class="icon icon-minus-circled"></i></button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        <div v-if="data.newSchema && data.newSchema.length > 0" class="align-right">
                            <button class="button" a-onclick="database-createTable" a-tooltip="Create Table">CREATE</button>
                        </div>
                      </div>
                      <div class="overflow-auto border-top padding-top-10">
                        <table class="full-width" id="database-schema-form">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Type</th>
                                  <th>Length/Value</th>
                                  <th>Null</th>
                                  <th>Default</th>
                                  <th>Index</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <th>
                                      <input name="name" class="form-control" />
                                  </th>
                                  <th>
                                      <select name="type" class="form-control">
                                          <option selected disabled>Select Type</option>
                                          <option >INT</option>
                                          <option >VARCHAR</option>
                                          <option >TEXT</option>
                                          <option >DATE</option>
                                          <optgroup label="Numeric">
                                          <option >TINYINT</option>
                                          <option >SMALLINT</option>
                                          <option >MEDIUMINT</option>
                                          <option >INT</option>
                                          <option >BIGINT</option>
                                          <option disabled="disabled">-</option>
                                          <option >DECIMAL</option>
                                          <option >FLOAT</option>
                                          <option >DOUBLE</option>
                                          <option >REAL</option>
                                          <option disabled="disabled">-</option>
                                          <option >BIT</option>
                                          <option >BOOLEAN</option>
                                          <option >SERIAL</option>
                                          </optgroup>
                                          <optgroup label="Date and time">
                                          <option >DATE</option>
                                          <option >DATETIME</option>
                                          <option >TIMESTAMP</option>
                                          <option >TIME</option>
                                          <option >YEAR</option>
                                          </optgroup>
                                          <optgroup label="String">
                                          <option >CHAR</option>
                                          <option >VARCHAR</option>
                                          <option disabled="disabled">-</option>
                                          <option >TINYTEXT</option>
                                          <option >TEXT</option>
                                          <option >MEDIUMTEXT</option>
                                          <option >LONGTEXT</option>
                                          <option disabled="disabled">-</option>
                                          <option >BINARY</option>
                                          <option >VARBINARY</option>
                                          <option disabled="disabled">-</option>
                                          <option >TINYBLOB</option>
                                          <option >MEDIUMBLOB</option>
                                          <option >BLOB</option>
                                          <option >LONGBLOB</option>
                                          <option disabled="disabled">-</option>
                                          <option >ENUM</option>
                                          <option >SET</option>
                                          </optgroup>
                                          <optgroup label="Spatial">
                                          <option >GEOMETRY</option>
                                          <option >POINT</option>
                                          <option >LINESTRING</option>
                                          <option >POLYGON</option>
                                          <option >MULTIPOINT</option>
                                          <option >MULTILINESTRING</option>
                                          <option >MULTIPOLYGON</option>
                                          <option >GEOMETRYCOLLECTION</option>
                                          </optgroup>
                                        </select>
                                  </th>
                                  <th>
                                      <input name="length" class="form-control" />
                                  </th>
                                  <th>
                                      <label >
                                          <input type="checkbox" name="null" />
                                        </label>
                                  </th>
                                  <th>
                                      <input name="default" class="form-control" />
                                  </th>
                                  <th>
                                      <select name="index" class="form-control">
                                          <option value="">---</option>
                                          <option title="Primary" value="primary">PRIMARY</option>
                                          <option title="Unique" value="unique">UNIQUE</option>
                                          <option title="Index" value="index">INDEX</option>
                                      </select>
                                  </th>
                                </tr>
                          </tbody>
                        </table>
                        <div class="full-width">
                          <button class="button" a-onclick="database-addSchemaColumn">Add Column</button>
                        </div>
                      </div>
                    </div>
                    <div class="block-tab" id="database-sql">
                        <div>
                          <div class="form">
                            <div class="form-group">
                              <textarea name="query" class="full-width" a-onkeyup="element-autoresize" rows="20" placeholder="Put your query here"></textarea>
                            </div>
                            <div class="form-group align-right">
                              <button class="button" a-onclick="database-sqlQuery">RUN</button>
                            </div>
                          </div>
                        </div>
                        
                          <div  >
                            <div class="full-width overflow-auto border-all padding-10 margin-top-10" v-for="t in data.databaseQueryList" > 
                              <table class="full-width" >
                                  <thead>
                                      <tr >
                                          <th v-for="(value, key) in t[0]" >{{ key }}</th>
                                      </tr>
                                  </thead>
                                  <tbody  >
                                      <tr v-for="o in t" >
                                          <td v-for="c in o">{{c}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <button class="button" a-onclick="vm-saveData" v-bind:data-args="'json|databaseQueryList|' + data.databaseQueryList.indexOf(t)" >Save As JSON</button>
                              <button class="button" a-onclick="vm-saveData" v-bind:data-args="'xlsx|databaseQueryList|' + data.databaseQueryList.indexOf(t)">Save As XLSX</button>
                            </div>
                          </div>
                    </div>
                    <div class="block-tab" id="database-export">
                      <div class=" form" >
                        <div class="form-group">
                          <label class="control-label">
                              Output
                          </label>
                            <select  name="fileType" class="form-control" >
                              <option selected disabled value="">Select Output Type</option>
                              <option value="sql">SQL</option>
                              <option value="xlsx">XLSX</option>
                              <option value="json">JSON</option>
                            </select>
                        </div>
                        <button class="button" a-onclick="database-export">Export</button>
                      </div>
                    </div>
                    
                </div>
              </div>
            <div class="block-container table">
              <div class="block-head">
                <button class="button button-primary" a-onclick="element-switchView" data-args="#table-browse" >Browse</button>
                <button class="button" a-onclick="element-switchView" data-args="#table-structure">Structure</button>
                <button class="button" a-onclick="element-switchView" data-args="#table-sql">SQL</button>
                <button class="button" a-onclick="element-switchView" data-args="#table-export">Export</button>
                
              </div>
              <div class="block-body">
                <div class="block-tab active" id="table-browse">
                  <div class="overflow-auto">
                  <table class="full-width" >
                    <thead>
                        <tr v-if="data.browseTableList">
                            <th v-for="(item,index) in data.browseTableList[0]" >{{index}}</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr v-for="c in data.browseTableList" >
                           <td v-for="t in c">{{t}}</td>
                        </tr>
                    </tbody>
                  </table>
                  <p ><button  class="button small" a-onclick="table-browsePrev" >&lt;</button><button a-onclick="table-browseNext" class="button small">&gt;</button></p>
                </div>
                </div>
                <div class="block-tab" id="table-structure">
                    <div class="overflow-auto">
                        <table class="full-width" >
                          <thead>
                              <tr v-if="data.structureTableList">
                                  <th v-for="(item,index) in data.structureTableList[0]" >{{index}}</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody >
                              <tr v-for="c in data.structureTableList" >
                                 <td v-for="t in c">{{t}}</td>
                                 <td><button class="button small" a-onclick="table-dropColumn" v-bind:data-args="c.Field" a-tooltip="Drop Column"><i class="icon icon-minus-circled"></i></button></td>
                              </tr>
                          </tbody>
                        </table>
                        <p ><button  class="button small" a-onclick="table-addColumn" >Add Column</button></p>
                    </div>
                </div>
                <div class="block-tab" id="table-structure-add">
                  <div class="overflow-auto"   >
                    <table class="full-width">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Length/Value</th>
                                <th>Allow Null</th>
                                <th>Default</th>
                                <th>Index</th>
                                <th>Action</th>
                              </tr>
                        </thead>
                        <tbody >
                          <tr v-for="c in data.newColumn" >
                            <td>{{c.name}}</td>
                            <td>{{c.type}}</td>
                            <td>{{c.length}}</td>
                            <td>
                                <span v-if="c.null">YES</span>
                                <span>NO</span>
                            </td>
                            <td>{{c.default}}</td>
                            <td>{{c.index}}</td>
                            <td>
                              <button class="button" a-onclick="table-removeNewColumn" v-bind:data-args="c._schemaId" a-tooltip="Remove Column"><i class="icon icon-minus-circled"></i></button>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <div v-if="data.newColumn && data.newColumn.length > 0" class="align-right">
                        <button class="button" a-onclick="table-submitColumn" a-tooltip="Add Column">SUBMIT</button>
                    </div>
                  </div>
                  <div class="overflow-auto border-top padding-top-10">
                    <table class="full-width" id="table-column-form">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Type</th>
                              <th>Length/Value</th>
                              <th>Null</th>
                              <th>Default</th>
                              <th>Index</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th>
                                  <input name="name" class="form-control" />
                              </th>
                              <th>
                                  <select name="type" class="form-control">
                                      <option selected disabled>Select Type</option>
                                      <option >INT</option>
                                      <option >VARCHAR</option>
                                      <option >TEXT</option>
                                      <option >DATE</option>
                                      <optgroup label="Numeric">
                                      <option >TINYINT</option>
                                      <option >SMALLINT</option>
                                      <option >MEDIUMINT</option>
                                      <option >INT</option>
                                      <option >BIGINT</option>
                                      <option disabled="disabled">-</option>
                                      <option >DECIMAL</option>
                                      <option >FLOAT</option>
                                      <option >DOUBLE</option>
                                      <option >REAL</option>
                                      <option disabled="disabled">-</option>
                                      <option >BIT</option>
                                      <option >BOOLEAN</option>
                                      <option >SERIAL</option>
                                      </optgroup>
                                      <optgroup label="Date and time">
                                      <option >DATE</option>
                                      <option >DATETIME</option>
                                      <option >TIMESTAMP</option>
                                      <option >TIME</option>
                                      <option >YEAR</option>
                                      </optgroup>
                                      <optgroup label="String">
                                      <option >CHAR</option>
                                      <option >VARCHAR</option>
                                      <option disabled="disabled">-</option>
                                      <option >TINYTEXT</option>
                                      <option >TEXT</option>
                                      <option >MEDIUMTEXT</option>
                                      <option >LONGTEXT</option>
                                      <option disabled="disabled">-</option>
                                      <option >BINARY</option>
                                      <option >VARBINARY</option>
                                      <option disabled="disabled">-</option>
                                      <option >TINYBLOB</option>
                                      <option >MEDIUMBLOB</option>
                                      <option >BLOB</option>
                                      <option >LONGBLOB</option>
                                      <option disabled="disabled">-</option>
                                      <option >ENUM</option>
                                      <option >SET</option>
                                      </optgroup>
                                      <optgroup label="Spatial">
                                      <option >GEOMETRY</option>
                                      <option >POINT</option>
                                      <option >LINESTRING</option>
                                      <option >POLYGON</option>
                                      <option >MULTIPOINT</option>
                                      <option >MULTILINESTRING</option>
                                      <option >MULTIPOLYGON</option>
                                      <option >GEOMETRYCOLLECTION</option>
                                      </optgroup>
                                    </select>
                              </th>
                              <th>
                                  <input name="length" class="form-control" />
                              </th>
                              <th>
                                  <label >
                                      <input type="checkbox" name="null" />
                                    </label>
                              </th>
                              <th>
                                  <input name="default" class="form-control" />
                              </th>
                              <th>
                                  <select name="index" class="form-control">
                                      <option value="">---</option>
                                      <option title="Primary" value="primary">PRIMARY</option>
                                      <option title="Unique" value="unique">UNIQUE</option>
                                      <option title="Index" value="index">INDEX</option>
                                  </select>
                              </th>
                            </tr>
                      </tbody>
                    </table>
                    <div class="full-width">
                      <button class="button" a-onclick="table-addnewColumn">Add Column</button>
                    </div>
                  </div>
                </div>
                <div class="block-tab" id="table-sql">
                    <div>
                        <div class="form">
                          <div class="form-group">
                            <textarea name="query" class="full-width" a-onkeyup="element-autoresize" rows="20" placeholder="Put your query here"></textarea>
                          </div>
                          <div class="form-group align-right">
                            <button class="button" a-onclick="table-sqlQuery">RUN</button>
                          </div>
                        </div>
                      </div>
                      
                        <div  >
                          <div class="full-width overflow-auto border-all padding-10 margin-top-10" v-for="t in data.tableQueryList" > 
                            <table class="full-width" >
                                <thead>
                                    <tr >
                                        <th v-for="(value, key) in t[0]" >{{ key }}</th>
                                    </tr>
                                </thead>
                                <tbody  >
                                    <tr v-for="o in t" >
                                        <td v-for="c in o">{{c}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button" a-onclick="vm-saveData" v-bind:data-args="'json|tableQueryList|' + data.tableQueryList.indexOf(t)" >Save As JSON</button>
                            <button class="button" a-onclick="vm-saveData" v-bind:data-args="'xlsx|tableQueryList|' + data.tableQueryList.indexOf(t)">Save As XLSX</button>
                          </div>
                        </div>
                </div>
                <div class="block-tab" id="table-export">
                  <div class=" form" >
                    <div class="form-group">
                      <label class="control-label">
                          Output
                      </label>
                        <select  name="fileType" class="form-control" >
                          <option selected disabled value="">Select Output Type</option>
                          <option value="sql">SQL</option>
                          <option value="xlsx">XLSX</option>
                          <option value="json">JSON</option>
                        </select>
                    </div>
                    <button class="button" a-onclick="table-export">Export</button>
                  </div>
                </div>
                
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay hidden full-height full-width">
      <div class="v-center align-center"><h1>LOADING</h1><p><small id="loading-notif"></small></p></div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
